project_id = "<gcp-project-id>"
region     = "europe-west1"
name       = "scheduled-batch-gcp-private"
network    = "projects/<gcp-project-id>/global/networks/example"
subnetwork = "projects/<gcp-project-id>/regions/europe-west1/subnetworks/private"

labels = {
  project = "scheduled-batch"
  env     = "prod"
}
