project_id = "my-gcp-project-id"
region     = "europe-west1"
name       = "scheduled-batch-gcp-basic"

container_image = "europe-west1-docker.pkg.dev/my-gcp-project-id/my-repo/my-image:latest"

schedule  = "0 3 * * *"
time_zone = "Europe/Belgrade"

labels = {
  project = "scheduled-batch"
  env     = "dev"
}
